.form-electron{
	padding-bottom: 75px;
	/*width: 466px;
	height: 435px;
	background-color: #5da9b4;
	padding: 70px 55px;*/
	max-width: 505px;
	//padding: 44px 39px 50px 39px;
	//background-color: #3e67ae;
	& .messages{
		display: none;
	}
	&_title{
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		font-size: 36px;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: -0.3px;
		margin-bottom: 45px;
	}
	&_inner{
		margin: 0 0 19px 0;
		input{
			font-family: $font;
		  color: #737272;
		  font-size: 16px;
			height: 31px;
			width: 100%;
			padding: 0 15px 3px 15px;
			border: 1px solid #cccccc;
			box-shadow: inset 0px 0px 0px 1px rgba(230,230,230,1);
			@include old-ie{
				padding: 8px 0 0 0;
			}
			&.error{
				box-shadow: inset 0px 0px 5px 1px rgba(255,0,0,1),
										1px 0px 1px 0px rgba(0,0,0,0.3);
			}
		}
		textarea{
			font-size: 16px;
			padding: 5px 15px 5px 15px;
			color: #737272;
			height: 131px;
			border: 1px solid #cccccc;
			box-shadow: inset 0px 0px 0px 1px rgba(230,230,230,1);
			&.error{
				box-shadow: inset 0px 0px 5px 1px rgba(255,0,0,1),
										1px 0px 1px 0px rgba(0,0,0,0.3);
			}
		}
		label{
			font-size: 12px;
			font-weight: bold;
			color: #737272;
			margin-bottom: 9px;
			.form-required{
				position: relative;
				left: -4px;
			}
		}
	}
	&_button{
		margin: 0 0 8px 0;
		position: relative;
		text-align: right;
		input{
			font-family: Tahoma, Verdana, Segoe, sans-serif;
			color: #fff;
			font-size: 19px;
			display: inline-block;
			width: 169px;
			height: 41px;
			margin: 0 auto;
			padding-bottom: 3px;
			border: none;
			text-transform: uppercase;
			cursor: pointer;
			background: rgba(184,67,28,1);
			background: linear-gradient(to bottom, rgba(242,168,145,1) 0%, rgba(184,67,28,1) 100%);
			&:hover{
				background: rgba(185,184,184,1);
				background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(185,184,184,1) 100%);
			}
			#webform-client-form-48 &{
				background: rgba(48,83,145,1);
				background: linear-gradient(to bottom, rgba(135,158,202,1) 0%, rgba(48,83,145,1) 100%);
				&:hover{
					background: rgba(185,184,184,1);
					background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(185,184,184,1) 100%);
				}
			}
		}
	}
	&_files{
		label{
			font-size: 12px;
			margin: 21px 0 0 0;
		}
		input.multi{
			font-size: 10px;
		}
	}
	&_confirmation{
		p{
			border: 2px solid green;
			padding: 10px;
		}
	}
	::-webkit-input-placeholder {
	  font-family: $font;
	  color: #737272;
	  font-size: 24px;
	  opacity: 1;
	}
	:-moz-placeholder {
	  font-family: $font;
	  color: #737272;
	  font-size: 24px;
	  opacity: 1;
	}
	::-moz-placeholder {
	  font-family: $font;
	  color: #737272;
	  font-size: 24px;
	  opacity: 1;
	}
	:-ms-input-placeholder {
	  font-family: $font;
	  color: #737272;
	  font-size: 24px;
	  opacity: 1;
	}
	::-ms-input-placeholder {
	  font-family: $font;
	  color: #737272;
	  font-size: 24px;
	  opacity: 1;
	}
	:placeholder-shown {
	  font-family: $font;
	  color: #737272;
	  font-size: 24px;
	  opacity: 1;
	}
}