.main{
	@include clearfix;
	padding-bottom: 69px;
	&_left{
		float: left;
		width: 22.7%;
		padding-top: 35px;
	}
	&_right{
		float: left;
		width: 77.3%;
		padding-top: 39px;
		padding-left: 38px;
		@include old-ie{
			*width: 73%;
		}
	}
}