.menu-main{
	background-color: #3e67ae;
	margin-top: 18px;
	&_inner{
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 0px;
		overflow: hidden;
		visibility: hidden;
  }
	&_list{
		height: 54px;
		display: table;
		width: 100%;
		&__l2{
			text-align: left;
			//padding: 5px 0 3px;
			padding: 0;
			min-width: 201px;
			background-color: #ec6e46;
			visibility: hidden;
			transform: translateY(-100%);
			transition:
        visibility 0s linear 200ms,
        transform 200ms linear;
      .menu-main_item:hover &{
      	visibility: visible;
      	transform: translateY(0);
      	transition-delay: 0s;
      }
    }
    @include old-ie{
    	*text-align: center;
  	}
	}
	&_item{
		display: table-cell;
		padding-right: 1px;
		vertical-align: middle;
		height: 54px;
		text-align: center;
		@include old-ie{
    	*display : inline;
    	*zoom : 1;
  	}

    position: relative;
    &:after{
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			width: 1px;
			height: 30px;
			margin-top: -15px;
			background-color: #4c79c7;
		}
		&:first-child{
			&:before{
				content: '';
				position: absolute;
				left: -1px;
				top: 50%;
				width: 1px;
				height: 30px;
				margin-top: -15px;
				background-color: #4c79c7;
			}
		}
	}
	&_link{
		@include link(#fefdfd, #fefdfd);
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		height: 54px;
		padding: 0 11px 0 13px;
		display: table-cell;
		vertical-align: middle;
		.menu-main_item:hover &,
		.menu-main_item__active &{
			background-color: #ec6e46;
		}
		@include old-ie{
    	*display : inline;
    	*zoom : 1;
    	*word-wrap: break-word;
    	*max-width: 130px;
    	*padding-top: 10px;
    	*height: 43px;
  	}
  	@include m1024{
  		font-size: 11px;
  		padding: 0 6px 0 6px;
  	}
		&__l2{
			@include link(#fefdfd, #fefdfd);
			font-size: 14px;
			text-decoration: none;
			display: block;
			padding: 11px 13px;
			border-top: 1px solid #ef7d59;
			&:hover{
				background-color: #3e67ae;
			}
    	.menu-main_item__l2:first-child &{
    		border: none;
    	}
    	/*.menu-main_item__l2:hover + .menu-main_item__l2 &{
    		border-color: #3e67ae;
    	}*/
		}
	}
}