.mypager{
	text-align: center;
	//padding-top: 47px;
	margin-left: 2px;
	@include clearfix;
	&_item{
		display: inline-block;
		font-size: 16px;
		padding: 5px 7px;
		&__current{
			padding: 5px 7px;
			color: #fbfbfb;
			background-color: #3e67ae;
		}
		a{
			font-size: 16px;
			text-decoration: none;
			@include link(#737272, #737272);
			&:hover{
				text-decoration: underline;
			}
		}
	}
}