.treatment{
	background-color: #fefcfc;
	text-align: center;
	margin: 4px 0 0 -24px;
	padding: 22px 0 19px 1px;
	letter-spacing: -1.5px;
	box-shadow: -5px 5px 3px 0px rgba(0,0,0,0.06);
	&_h1{
		font-size: 17px;
		color: $hColor;
		text-transform: uppercase;
		margin-bottom: 23px;
	}
	&_link{
		display: block;
		max-width: 279px;
		margin: 0 auto 13px auto;
		padding: 8px 0 14px 0;
		font-size: 19px;
		@include link(#ffffff, #ffffff);
		text-decoration: none;
		background: rgba(185,66,27,1);
		background: linear-gradient(to bottom, rgba(242,168,145,1) 0%, rgba(185,66,27,1) 100%);
		&__blue{
			background: rgba(48,83,145,1);
			background: linear-gradient(to bottom, rgba(135,158,202,1) 0%, rgba(48,83,145,1) 100%);
		}
		&:hover{
			background: rgba(186,184,184,1);
			background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(186,184,184,1) 100%);
		}
	}
}