.up{
	position: fixed;
	right: 40px;
	top: 50%;
	margin-top: -50px;
	width: 61px;
	height: 61px;
	background: url('../images/up.png');
	//opacity: 0.5;
	transition: opacity 0.2s;
	display: none;
	/*&:hover{
		opacity: 1;
	}*/
	&__show{
		display: block;
	}
}