.user-content{
	padding: 29px 0 33px 0;
	letter-spacing: -0.1px;
	@include clearfix;
	.front &{
  	padding: 30px 0 0 0;
  }
  a{
  	@include link(#3e67ae, #ec6e46);
  	text-decoration: none;
  }
	img{
		//margin-top: 25px;
		//margin-bottom: 19px;
		max-width: 100%;
		height: auto;
		.front &{
	  	margin-top: 19px;
	  	margin-bottom: 0; 
	  }
	}
	.colorbox-insert-image {
    float: left;
    margin: 0 0 0px 3.9402%;
    width: 48.0299%;
    &:nth-child(2n-1){
    	margin-left: 0;
    }
    @include old-ie{
    	&:first-child{
    		margin-left: 0;
    	}
    	&:first-child + * + *{
    		margin-left: 0;
    	}
    	&:first-child + * + * + * + *{
    		margin-left: 0;
    	}
    	&:first-child + * + * + * + * + * + *{
    		margin-left: 0;
    	}
    }
    img{
    	margin: 10px 0 18px 0;
    	width: 100%;
    	height: auto;
    }
	}
	p{
		line-height: 1.42;
		margin-bottom: 20px;

	}
	h1{
	  font-weight: bold;
	  font-size: 21px;	  
	  color: $hColor;
	  margin-bottom: 19px;
	  letter-spacing: -0.35px;
	  line-height: 1.15;
	  text-transform: uppercase;
	  .front &{
	  	letter-spacing: -0.1px;
	  	margin-bottom: 20px;
	  }
	  .node-type-news &{
	  	text-transform: none;
	  }
	}
	h2{
	  font-weight: bold;
	  font-size: 16px;
	  color: $hColor;
	  padding-top: 9px;
	  margin-bottom: 3px;
	  .front &{
	  	font-size: 18px;
	  	margin-bottom: 10px;
	  }
	}
	h3, h4, h5, h6{
	  font-weight: bold;
	  color: $hColor;
	  margin-bottom: 10px;
	}
	ul{
		padding: 5px 0 20px 0;
		li{
			position: relative;
			padding-left: 11px;
			line-height: 1.43;
			&:before{
				content: "-";
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	ol{
		counter-reset: list1;
		margin-top: -20px;
		padding-bottom: 6px;
		li{
			list-style-type: none;
			line-height: 1.43;
			position: relative;
			&:before{
				counter-increment: list1;
				content: counter(list1) ". ";
				display: inline-block;
				width: 29px;
			}
		}
		ol{
			counter-reset: list2;
			margin: 0 0 0 0;
			li{
				&:before{
					counter-increment: list2;
					content: counter(list1) "." counter(list2) ". ";
				}
			}
		}
	}
	table{
		margin: -2px 0 0 -3px;
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		border: 3px solid #fff;
		//table-layout: fixed;
		img{
			max-width: none;
		}
		th{
			color: #393939;
			font-weight: bold;
			padding: 3px 3px 15px 12px;
	    border: 2px solid #d0d0d0;
	    text-align: left;
	    vertical-align: top;
	    &:first-child{
	    	padding-left: 0;
	    }
		}
		td{
			font-size: 12px;
			padding: 9px 3px 9px 10px;
	    border: 2px solid #d0d0d0;
	    text-align: left;
	    vertical-align: top;
	    &:first-child{
	    	padding-left: 0;
	    	width: 109px;
	    	letter-spacing: -0.3px;
	    	p{
	    		letter-spacing: -0.3px;
	    	}
	    }
	    &:nth-child(2){
	    	max-width: 290px;
	    	line-height: 1.5;
	    	letter-spacing: -0.3px;
	    	p{
	    		line-height: 1.5;
	    		letter-spacing: -0.3px;
	    	}
	    }
	    line-height: 1.35;
	    margin-bottom: 0;
	    p{
	    	line-height: 1.35;
	    	margin-bottom: 0;
	    }
	    img{
	    	margin: 16px 99px 7px 0;
	    }
		}
	}
}