.wfs{
	display: block;
	margin: 0 auto;
	max-width: 417px;
	height: 43px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../images/wfs.png') no-repeat;
	background-size: contain;
}